		<div data-project="food-reminder">

			<div class="container">

				<h2>Food Reminder</h2>

				<div class="controls">

					<ul class="pagination">
            <% if position == 1 %>
              <li class="prev"><span class="disabled">&laquo;</span></li>
            <% else %>
              <li class="prev"><a href="#">&laquo;</a></li>
            <% end %>
            <li><span><%= position %> <em>of</em> <%= total_count %></span></li>	
            <% if position == total_count %>
              <li class="next"><span class="disabled">&raquo;</span></li>
            <% else %>
						  <li class="next"><a href="#">&raquo;</a></li>						
            <% end %>
					</ul>

					<a href="#" class="exit">X</a>
					
				</div><!-- end .controls -->
					
				<div class="clear"></div>

				<ul class="slider">
					<li><span class="phone"><%= image_tag('food-reminder-1.png') %></span></li>
					<li><span class="phone"><%= image_tag('food-reminder-2.png') %></span></li>
					<li><span class="phone"><%= image_tag('food-reminder-3.png') %></span></li>
				</ul>

				<div>

					<h6>Description</h6>

          <p>Finally an app you can use to remember expiration dates of products.</p>

          <p>Tired of forgetting the expiration date of every food in your fridge and wasting the food you bought? Sick of trying to remember all the expiration dates without aid? If so, we think you'll like this simple but useful application.</p>

          <p>Food Reminder is a basic application for all you family. It's easy to use, and it'll make a big difference in your kitchen and wallet!</p>

          <p><a href="http://itunes.apple.com/us/app/food-reminder/id430227307?mt=8">Available on the AppStore</a></p>

				</div>
					
			</div><!-- end .container -->
			
		</div>

