
<div id="content">

	<div class="container">

		<h1 class="slogan">We build outstanding apps and experiences.</h1>

		<div id="projects-slider" class="projects-slider-container">

			<div class="section-title">

				<h6><span class="icon pen"></span>Latest Apps</h6>

			</div><!-- end .section-title -->

			<div class="projects-slider-nav">
				<span class="projects-slider-prev"></span>
				<span class="projects-slider-next"></span>
			</div><!-- end .projects-slider-nav -->

			<div class="projects-slider-wrapper">

				<ul class="projects-slider-gallery">

					<li>
						<span class="new">New</span>
						<a data-project="color-picker-pro">
							<span class="monitor">
                <%= image_tag('color-picker-pro.png') %>
							</span>
							<h6>Color Picker Pro</h6>
						</a>
					</li>

					<li>
						<span class="new">New</span>
						<a data-project="github-browser">
							<span class="tablet">
                <%= image_tag('github-browser-small.png') %>
							</span>
							<h6>Github Browser</h6>
						</a>
					</li>
					<li>
						<a data-project="food-reminder">
							<span class="phone">
								<%= image_tag('food-reminder-small.png') %>
							</span>
							<h6>Food Reminder</h6>
						</a>
					</li>

					<li>
						<a data-project="green-board-pro">
							<span class="phone">
								<%= image_tag('green-board-pro-small.png') %>
							</span>
							<h6>Green Board Pro</h6>
						</a>
					</li>

					<li>
						<a data-project="rubyxp">
							<span class="laptop">
								<%= image_tag('rubyxp-small.png') %>
							</span>
							<h6>RubyXP</h6>
						</a>
					</li>

					<li>
						<a data-project="">
							<span class="laptop">
								<%= image_tag('dummy-images/coming-soon.png') %>
							</span>
							<h6></h6>
						</a>
					</li>
				</ul>

			</div><!-- end .projects-slider-wrapper -->

		</div><!-- end #projects-slider -->
	
	</div><!-- end .container -->

	<div id="single-project">
    <% total_count = 5 %>
    <%= render 'colorpickerpro', :position => 1, :total_count => total_count %>
    <%= render 'githubbrowser', :position => 2, :total_count => total_count %>
    <%= render 'foodreminder', :position => 3, :total_count => total_count %>
    <%= render 'greenboardpro', :position => 4, :total_count => total_count %>
    <%= render 'rubyxp', :position => 5, :total_count => total_count %>
	</div><!-- end #single-project -->

	<div class="container">

		<div class="section-title">

      <h6><span class="icon pages"></span>Newsletter</h6>
		</div><!-- end .section-title -->

    <p>Like what you saw? We plan to release more! To keep up to date with the latest Fructivity projects leave your email address below. We'll only send you an email when something cool comes out.</p>

    <p style="text-align:center"><a href="http://fructivity.us2.list-manage.com/subscribe?u=5f3a473686dbf2cee894a4189&id=01334bdda9">Click here to subscribe to our newsletter!</a></p>
	

    <p style="text-align:right"><a href="http://twitter.com/share" class="twitter-share-button" data-text="Check out Color Picker Pro at Fructivity.com!" data-count="horizontal" data-via="oscardelben">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></p>

  </div><!-- end .container -->

</div><!-- end #content -->

