<div id="content">

	<div class="container">

    <h1>Open Source</h1>

    <p>At Fructivity we use lots of Open Source components and frameworks. We also give back to the community when we can! Check out our <a href="https://github.com/oscardelben">Github Account</a>.</p>


    <h2>Popular Projects</h2>

    <p><strong>Ruby:</strong></p>
    <ul>
      <li>Rawler <%= link_to 'https://github.com/oscardelben/rawler', 'https://github.com/oscardelben/rawler' %></li>
      <li>Github Trends <%= link_to 'https://github.com/oscardelben/github-trends', 'https://github.com/oscardelben/github-trends' %></li>
      <li>Rake Notifier <%= link_to 'https://github.com/oscardelben/rake_notifier', 'https://github.com/oscardelben/rake_notifier' %></li>
    </ul>

    <p><strong>Cocoa:</strong></p>
    <ul>
      <li>Date Calculations <%= link_to 'https://github.com/oscardelben/DateCalculations', 'https://github.com/oscardelben/DateCalculations' %></li>
      <li>MenuBar Application Template <%= link_to 'https://github.com/oscardelben/MenuBarApplicationTemplate', 'https://github.com/oscardelben/MenuBarApplicationTemplate' %></li>
      <li>UIRightButtonCell <%= link_to 'https://github.com/oscardelben/UIRightButtonCell', 'https://github.com/oscardelben/UIRightButtonCell' %></li>
      <li>Cocoa Navigation Gestures <%= link_to 'https://github.com/oscardelben/CocoaNavigationGestures', 'https://github.com/oscardelben/CocoaNavigationGestures' %></li>
      <li>Cocoa Youtube Uploader <%= link_to 'https://github.com/oscardelben/CocoaYoutubeUploader', 'https://github.com/oscardelben/CocoaYoutubeUploader' %></li>
      <li>UIWebView Basic Auth <%= link_to 'https://github.com/oscardelben/UIWebViewBasicAuth', 'https://github.com/oscardelben/UIWebViewBasicAuth' %></li>
      <li>NSScreen Point Conversion <%= link_to 'https://github.com/oscardelben/NSScreen-PointConversion', 'https://github.com/oscardelben/NSScreen-PointConversion' %></li>
      <li>NSFileManager+DirectoryLocations <%= link_to 'https://github.com/oscardelben/NSFileManager-DirectoryLocations', 'https://github.com/oscardelben/NSFileManager-DirectoryLocations' %></li>
   </ul>


    <h2>Sample Apps</h2>

    <p>Below you can find some sample apps (or sometimes full featured apps) that I've open sourced so you can learn from them!</p>

    <h4>Color Picker Pro</h4>

    <p>Full featured Color Picker for Mac os X.</p>

    <p><%= link_to 'https://github.com/oscardelben/Color-Picker-Pro', 'https://github.com/oscardelben/Color-Picker-Pro' %></p>

    <h4>iPhone Calculator</h4>

    <p>This application mimics the native Calculator app for iPhone.</p>

    <p><%= link_to 'https://github.com/oscardelben/iPhoneCalculator', 'https://github.com/oscardelben/iPhoneCalculator' %></p>

    <h4>Snake 4 iPhone</h4>

    <p>Simple Snake 4 iPhone implementation.</p>

    <p><%= link_to 'https://github.com/oscardelben/Snake4iPhone', 'https://github.com/oscardelben/Snake4iPhone' %></p>

    <h4>Mongo Shortener</h4>

    <p>URL shortening service with Rails and Mongo DB.</p>

    <p><%= link_to 'https://github.com/oscardelben/Mongo-Shortener', 'https://github.com/oscardelben/Mongo-Shortener' %></p>

    <h4>RubyXP</h4>

    <p>Ruby regular expressions editor.</p>

    <p><%= link_to 'https://github.com/oscardelben/rubyxp', 'https://github.com/oscardelben/rubyxp' %></p>
  </div>
</div>
